/* Estilos básicos despues del reset */

/* h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 */

 .menu {
	list-style: none;
}

/* div {
    background-color: bisque
} */

.articulo {
    background-color: bisque;
    font-size: 1.2rem;
}

/* h2 {color: brown}
 */
.marron {
    color: brown; 
    font-size: 1.2rem;
}

.item {
    font-size: 1.5rem
}