.art1 h3 {
    color: blue;
}
.verde {
    text-decoration: underline;
}
p.verde {
    color: lime;
}
h2.verde {
    color: darkgreen
}
h3, .verde {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bold;
}
.marron {
    color: maroon;
}